section#contact .section-container {
    background-color: var(--color-soft);
    min-height: 100vh;
}

section#contact header.contact {
    height: 45vh;
    background-image: url('../../assets/images/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section#contact .contact-body {
    padding: 1em 10%;
    color: var(--color-dark);
}

section#contact .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

section#contact h3 {
    margin: 0;
    text-transform: uppercase;
}

section#contact h1 {
    margin: 0 0 0.3em 0;
}

section#contact h2 {
    margin-top: 0.2em;
}

section#contact a {
    text-decoration: none;
    color: var(--color-dark);
}

section#contact a:first-child {
    margin-bottom: 1em;
}

@media screen and (max-width: 350px) {
    section#contact .content {
        font-size: .8rem;
    }
}

@media screen and (min-width: 801px) {
    section#contact {
        display: block;
    }

    section#contact .contact-body {
        display: grid;
        grid-template-columns: 1fr minmax(800px, 10fr) 1fr;
        padding: 1em 0;
    }

    section#contact .grid-desktop {
        grid-column: 2 / span 1;
    }
}