section#about .section-container {
    background-color: transparent;
    padding: 1em 0;
}

section#about h3 {
    margin: 0;
    padding: 0 10%;
    text-transform: uppercase;
}

section#about h1 {
    padding: 0 10%;
    margin: 0 0 0.3em 0;
}

section#about .about-images {
    height: 55vh;
    z-index: 1;
    position: relative;
}

section#about div.bg {
    height: 100%;
    width: 80%;
    z-index: 2;
    position: absolute;
    right: 0;
    background-image: url('../../assets/images/fgran2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.4);
}

section#about div.front {
    height: 50%;
    width: 50%;
    z-index: 3;
    position: absolute;
    top: 25%;
    background-image: url('../../assets/images/fpetita_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
}

section#about .about-content {
    padding: 0 10%;
    overflow: hidden;
}

section#about .section-content {
    padding: 0 10%;
    margin-bottom: 50px;
}

section#about .section-content p {
    font-weight: bold;
    text-align: justify;
    color: var(--color-dark);
}

section#about .about-content button  {
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    font-weight: bold;
    text-decoration: underline;
    padding: 0;
    transition: 300ms opacity 200ms ease-out;
}

section#about .about-content .toggle-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    transform: scaleY(0);
    transform-origin: top;
    transition: 300ms transform  ease-in-out;
    padding: 1em 0 2em;
}

section#about .about-content .toggle-display.active {
    transform: scaleY(1);
}


section#about .toggle-display .circle {
    position: absolute;
    left: 40%;
    border-radius: 50%;
    background-color: var(--color-soft);
    height: 50px;
    width: 50px;
}

section#about .toggle-display p {
    margin-top: 0;
    font-weight: bold;
}

.circle.top {
    top: -50px;
}

.circle.bottom {
    bottom: -25px;
}

section#about .container-target {
    padding: 1em 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

section#about .container-target img {
    grid-column: 1 / span 1;
    height: 40px;
}

section#about .container-target h3 {
    font-size: 1rem;
    font-family: var(--ff-bold);
    white-space: nowrap;
}

section#about .container-target p {
    padding-left: 10%;
    font-weight: normal;
    margin-bottom: 0;
}

section#about .container-target .content {
    grid-column: 2 / sapn 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
}

/*          Desktop           */
section#about.desktop {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 4fr minmax(400px, 5fr) 1fr;
    font-size: 1.3rem;
}

section#about.desktop .desktop-images {
    grid-column: 1 / span 1;
    position: relative;
}

section#about.desktop div.bg {
    height: 90%;
    width: 80%;
    z-index: 2;
    position: absolute;
    top: 5%;
    left: 0;
    background-image: url('../../assets/images/fgran2.1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.4);
}

section#about.desktop div.front {
    height: 50%;
    width: 50%;
    z-index: 2;
    position: absolute;
    right: -5%;
    background-image: url('../../assets/images/fpetita_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
}

section#about.desktop .desktop-content {
    grid-column: 2 / span 1;
    background-color: white;
    height: fit-content;
    padding: 3em 3em 3em 5em;
    place-self: center;
}

section#about.desktop .desktop-content h3 {
    padding: 0;
}

section#about.desktop .desktop-content h1 {
    text-transform: uppercase;
    padding: 0;
}

section#about.desktop .desktop-content p {
    font-weight: bold;
}

section#about.desktop .desktop-content .desktop-targets {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.desktop-targets h1 {
    margin: 0 !important;
}

section#about.desktop .grid-targets {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr;
}

section#about.desktop .grid-targets h3 {
    padding: 0 10%;
}

section#about.desktop .container-target .content p {
    margin-top: 0 !important;
}
