section#home .section-container {
    background-color: transparent;
}

section#home {
    position: relative;
}

section#home::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url("../../assets/images/bg-kebab.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}