@font-face {
  font-family: "ANC-Ligth";
  src: url("./assets/fonts/AvenirNextCon-Light.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "ANC-Bold";
  src: url("./assets/fonts/AvenirNextCon-Bold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "ANC-Semibold";
  src: url("./assets/fonts/AvenirNextCon-Semibold.ttf") format("truetype");
  font-weight: normal;
}

:root {
  --ff-bold: ANC-Bold;
  --ff-light: ANC-Ligth;
  --ff-semibold: ANC-Semibold;
  --color-soft-transparent: rgba(235, 230, 208, 0.85);
  --color-soft: #ebe6d0;
  --color-dark: #292a2c;
  --color-medium: rgba(41, 42, 44, 0.5);
  --color-background-modal: rgba(41, 42, 44, 0.75);
}

.App {
  font-family: "ANC-Ligth";
  margin: 0;
}

h1 {
  font-family: "ANC-Bold";
}

section {
  padding: 2em 0;
  background-color: transparent;
}

section#contact {
  padding-bottom: 0;
}

section:last-child {
  padding-bottom: 0;
}

section:not(.home) {
  background-color: var(--color-soft);
}

section .section-container {
  height: 100%;
}

@media screen and (min-width: 801px) {
  section#home {
    display: grid;
    grid-template-columns: 2fr minmax(800px, 6fr) 1fr;
  }

  section .section-container {
    background-color: transparent;
    grid-column: 2 / span 1;
    width: 100%;
    height: 100%;
  }
}
