@font-face {
  font-family: 'Avenir Next Con';
  src: url('./assets/fonts/Avenir\ Next\ Condensed.ttc') format('truetype');
  font-weight: normal;
}

:root {
  --color-soft-transparent: rgba(235, 230, 208, 0.85);
  --color-soft: #EBE6D0;
  --color-dark: #292A2C;
  --color-medium: rgba(41, 42, 44, 0.5);
}

.App {
  font-family: 'Avenir Next Con';
  margin: 0;
  min-height: 200vh;
}

section {
  height: 100vh;
  width: 100%;
  background-color: transparent;
}

section .section-container {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 801px) {
  section {
    display: grid;
    grid-template-columns: 1fr minmax(800px, 10fr)  1fr;
  }

  section .section-container {
    background-color: transparent;
    grid-column: 2 / span 1;
    width: 100%;
    height: 100%;
  }
}
